body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #112B3C;
}    

.form , .registro{
    width: 400px;
    background-color: #205375;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 16px;
    color: #EFEFEF;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 15px 15px rgb(0, 0, 0);
}

.form__tittle , .registro__tittle {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 5px 15px #000;
}

.form label , .registro label {
    font-size: 25px;
}

.form__datos , .registro__datos {
    width: 100%;
    padding: 10px;
    background-color: #205375;
    border: none;
    outline: none;
    border-bottom: 2px solid #F66B0E;
    border-radius: 5px;
    color: #EFEFEF;
    font-size: 18px;
}

.form p , .registro p {
    height: 40px;
    text-align: center;
    font-size: 22px;
}

.form a , .registro a {
    color: #EFEFEF;
    text-decoration: none;
}

.form a:hover , .registro a:hover {
    text-decoration: underline;
}

.form__button , .registro__button {
    width: 100%;
    background-color: #F66B0E;
    border: none;
    padding: 12px;
    color: #EFEFEF;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 5px;
}

.form__button:active , .registro__button:active {
    background-color: #e38c51;
}

.form__datos:focus , .registro__datos:focus {
    border-bottom: 2px solid #EFEFEF;
    transition: .8s;
}