* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primario: #000;
    --color-secundario:#F1DA0F;
    --color-terciario: #fff;

    --fuente:'Oxygen', sans-serif;
}

body {
    background-image: url(./Images/barthelemy-de-mazenod-f_mGDtPvMmk-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: var(--fuente);
}

header {
    width: 100%;
}

header img {
    margin: 5px 0 5px 5px;
    height: 50px;
}

nav {
    float: right;
}

ul {
    display: flex;
    align-items: flex-start;
}

li {
    margin:10px 10px 10px 150px;
    list-style: none;
    text-align: center;
}

a {
    display: inline-block;
    color: var(--color-primario);
    text-decoration: none;
    font-size: 25px;
    padding: auto;
    width: 200px;
    height: 35px;
}

a:hover {
    background-color: var(--color-primario);
    border-radius: 25px;
    transition: all .8s;
    color: var(--color-secundario);
}