* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background_aside: #212121;
    --background_main: #181818;
    --background_hover-btn: #383838;

    --color-icons: #FFFFFF;
}

body {
    width: 100vw;

    display: grid;

    grid-template-areas: "aside header header header header"
                         "aside header header header header"
                         "aside main main main main"
                         "aside main main main main"
                         "aside main main main main"
}

.aside {
    grid-area: aside;
}

.header {
    grid-area: header;
}

.main {
    grid-area: main;
}