@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background_aside: #212121;
    --background_main: #181818;
    --background_hover-btn: #383838;

    --color-icons: #FFFFFF;
}

html {
    font-size: 62.5%;
}

body {
    width: 100vw;

    display: grid;

    grid-template-areas: 
    "aside header header header header"
    "aside header header header header"
    "aside main main main main"
    "aside main main main main"
    "aside main main main main";
    overflow-x: hidden;
    font-family: 'Red Hat Display', sans-serif;;
}
/* comienzo barra lateral/aside */
.aside {
    grid-area: aside;
    background-color: var(--background_aside);

    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;

    font-size: 1.2rem;
    text-decoration: none;
    list-style: none;

    position: sticky;
    top: -10px;
    overflow-y: scroll;
    overflow-x: hidden;
    color: #FFFFFF;
}

.aside_logo {
    width: 13.7%;
    padding: 0 17px;
    display: flex;

    background-color: var(--background_aside);

    align-items: center;
    gap: 15px;
    position: fixed;
}
.aside_logo i {
    font-size: 2rem;
    cursor: pointer;
}
.aside_logo img {
    width: 13rem;
    cursor: pointer;
}


.aside_items, .aside_items2, .aside_subscripciones, .aside_mas, .aside_config, .aside_footer {
    width: 100%;
}

.aside_items {
    margin-top: 70px;
}

.aside a {
    color: #FFFFFF;
    text-decoration: none;
}

hr {
    width: 100%;
    border-color: var(--background_hover-btn);
}
.ul-items, .ul-items2, .ul-subscripciones, .ul-mas, .config-ul {
    width: 100%;
    margin: 0 25px;
    
    font-size: 2rem;
    text-decoration: none;
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.ul-items li, .ul-items2 li, .ul-subscripciones li, .ul-mas li,.config-ul li {
    display: flex;

    align-items: center;
    gap: 25px;

    font-size: 1.6rem;
}

.ul-subscripciones img {
    width: 3rem;
    height: 3rem;
    border-radius: 50px;
}
.aside_footer {
    padding: 0 1.7rem;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.footer-p1, .footer-p2 {
    font-size: 1.5rem;
}

.aside h3 {
    font-size: 1.7rem;
    color: var(--background_hover-btn);
    font-weight: 600;
}


/* final barra lateral/aside */


/* comienzo header */
.header {
    height: 120px;
    grid-area: header;
    background-color: var(--background_aside);
}


.header_superior {
    width: 100%;
    height: 50%;



}
.header_search {
    width: 70%;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;
}

.header_search input {
    width: 50%;
    height: 35px;
}

.header_search button {
    width: 35px;
    height: 35px;
}

.header_inferior {
    width: 100%;
    height: 50%;
}

.main {
    grid-area: main;
}

.main_container {
    width: 100%;

    display: grid;

    grid-template-columns: repeat(4, 360px);
    grid-template-rows: repeat(4,200px);

    gap: 25px   ;
}

iframe {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}