body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-image: url(./Images/gradienta-QWutu2BRpOs-unsplash.jpg);
    font-family: 'Mukta', sans-serif;
}    

.form , .registro{
    width: 400px;
    background-color: #205375;
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 16px;
    color: #EFEFEF;
    box-shadow: 0 15px 25px rgb(0, 0, 0);
    text-align: center;
}

.form__tittle , .registro__tittle {
    font-size: 25px;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 2px 5px 9px #132f41;
}

.form label , .registro label {
    font-size: 25px;
    text-align: right;

}

.form__datos , .registro__datos {
    width: 100%;
    padding: 10px;
    background-color: #205375;
    border: none;
    outline: none;
    border-bottom: 2px solid #F66B0E;
    border-radius: 5px;
    color: #EFEFEF;
    font-size: 18px;
    margin-bottom: 25px;
    text-align: center;
}

.form p , .registro p {
    height: 40px;
    text-align: center;
    font-size: 22px;
}

.form a , .registro a {
    color: #EFEFEF;
    text-decoration: none;
}

.form a:hover , .registro a:hover {
    text-decoration: underline;
}

.form__button , .registro__button {
    width: 100%;
    background-color: #205375;
    border: 2px solid #F66B0E;
    padding: 12px;
    color: #EFEFEF;
    margin: 16px 0;
    font-size: 16px;
    border-radius: 5px;
    font-family: 'Mukta', sans-serif;
    font-style: bold;
}

.form__button:hover , .registro__button:hover {
    border-radius: 0;
    border: 2px solid #EFEFEF;
    transition: all .5s;
}


.form__button:active , .registro__button:active {
    border-radius: 0;
    background-color: #EFEFEF;
    color: #132f41;
    transition: all .5s;
    
}

.form__datos:focus , .registro__datos:focus {
    border-bottom: 2px solid #EFEFEF;
    transition: .5s;
}


.form__usuario-container i, .form__password-container i {
    position: absolute;
    padding: 10px;
    color: #F66B0E;
}

